{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}
    {{ news_post.title}}
{% endblock title %}

{% block content %}
    <h1 >{{ news_post.title | censor}} </h1>
    <hr>
    <p class="text-muted fs-6">{{ news_post.date | format_date }} | 
    Катагории:
    {% for cat in news_post.category.all %}
        {{ cat }}
    {% endfor %}
    | Автор: {{ news_post.author }}
    </p>
    <hr>
    <p>{{ news_post.text | censor | linebreaks }}</p>

    <hr>
    {% if user.is_authenticated %}
  
    <p>
        <a href="{% url 'news_post_update' news_post.id %}" class="btn btn-outline-primary btn-sm">Редактировать</a>
        <a href="{% url 'news_post_delete' news_post.id %}" class="btn btn-outline-danger btn-sm">Удалить</a>
    </p>
    {% endif %}
{% endblock content %}

